files:
    "/sbin/appstart" :
        mode: "000755"
        owner: webapp
        group: webapp
        content: |
            # run app
            kill `ps -ef | grep cider-api | awk '{print $2}'`
            java -Duser.timezone="Asia/Seoul" -Dspring.profiles.active=dev -jar /var/app/current/cider-api.jar
